/* standard values */
@font-face {
  font-family: 'Peddana';
  src: url('../Peddana-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Treasure';
  src: url('../Treasuremap-nRxz0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0px;
  display: flex;
}
p, h1, h2, h3 {
  font-family: "Peddana", "Peddana", serif;
}
p {
  font-size: 20px;
  line-height: 20px;
  color: white;
}
h {
  font-family: "Treasure", "Treasure", serif;
  font-size: 30px;
  color: white;
}
hr {
  height: 2px;
  border-width: 0;
  background-color: black;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
}

/* main interface divider */
.info {
  background-color: #071549;
  height: 100%;
  width: 30%;
  position: fixed;
  padding: 20px;
}
.journal {
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 70%;
  left: 30%;
  position: fixed;
}
.tele {
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 70%;
  left: 30%;
  position: fixed;
}
.tele-text {
  background-image: url('../images/tele.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 70%;
  left: 30%;
  position: fixed;
  display: none;
  visibility: hidden;
}
.ocean {
  height: 80%;
  top: 10%;
}
img {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 30%;
}
.text {
  background-image: url('../images/grunge.png');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 300px;
  padding: 5px;
  border: 2px solid #b78846;
}
.box:before, .box:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #b78846;
  border: 2px solid #b78846;
  line-height: 12px;
  top: 5px;
  text-align: center;
}
.box:before {
  left: 5px;
}
.box:after {
  right: 5px;
}
.box .box-inner {
  position: relative;
  border: 2px solid #b78846;
  padding: 35px;
}
.box .box-inner:before, .box .box-inner:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #b78846;
  border: 2px solid #b78846;
  line-height: 12px;
  bottom: -2px;
  text-align: center;
}
.box .box-inner:before {
  left: -2px;
}
.box .box-inner:after {
  right: -2px;
}

.journal p, .journal h {
  color: black;
}
.journal-text {
  padding: 70px;
}
.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
}
h2 a {
  color: #b78846;;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}
/*effect-underline*/
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
