/* standard values */
@font-face {
  font-family: 'Peddana';
  src: url('../Peddana-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Treasure';
  src: url('../Treasuremap-nRxz0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0px;
  display: flex;
}
p, h1, h2, h3 {
  font-family: "Peddana", "Peddana", serif;
}
p {
  font-size: 20px;
  line-height: 20px;
  color: white;
}
h {
  font-family: "Treasure", "Treasure", serif;
  font-size: 30px;
  color: white;
}

/* main interface divider */
.info {
  background-color: #071549;
  height: 100%;
  width: 30%;
  position: fixed;
  padding: 20px;
}
.tele {
  /*background-image: url('../images/tele.png');*/
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 70%;
  left: 30%;
  position: fixed;
}
img {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 30%;
  background-color: none;
}
.text {
  background-image: url('../images/grunge.png');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 300px;
  padding: 5px;
  border: 2px solid #b78846;
}
.box:before, .box:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #b78846;
  border: 2px solid #b78846;
  line-height: 12px;
  top: 5px;
  text-align: center;
}
.box:before {
  left: 5px;
}
.box:after {
  right: 5px;
}
.box .box-inner {
  position: relative;
  border: 2px solid #b78846;
  padding: 35px;
}
.box .box-inner:before, .box .box-inner:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #b78846;
  border: 2px solid #b78846;
  line-height: 12px;
  bottom: -2px;
  text-align: center;
}
.box .box-inner:before {
  left: -2px;
}
.box .box-inner:after {
  right: -2px;
}

.tele p, .tele h {
  color: black;
}
.tele-text {
  padding: 70px;
}
.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
}
h2 a {
  color: #b78846;;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}
/*effect-underline*/
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}





/* Main Footer */
.data {
  background-color: rgb(110, 151, 220);
  color: white;
  border-top: 20px solid rgb(0, 0, 0);
  margin: 0px;
  padding: 10px;
  padding-right: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99%;
}

.data-child {
  width: 26%;
  float: left;
  color: rgb(30, 31, 117);
  background-color: rgb(140, 191, 240);
  margin-left: 2%;
}

.card { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); }

/* ship icon */
.data img {
  width: 13%;
  padding-left: 1%;
  float: left;
}

.hide { visibility: hidden; }

/* POP-UP */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
